{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "react/prop-types": "off",
        "no-console": "off",
        "import/extensions": [ "error", "always", { "ignorePackages": true } ], // Exception for including extensions in application modules
    }
}
