{
    "extends": "airbnb-base",
    "env": {
        "node": true
    },
    "rules": {
        "no-console": "off",
        "camelcase": "off",
        "indent": ["error", 4, {"SwitchCase": 1}]
    }
}